html {
    height: 100%;
}

.bubbles {
    max-height: 42rem;
    z-index: -1;
    position: fixed;
    top: 2rem;
    right: 3rem;
    opacity: 0.5;
}

h1 {
        font-family: 'Poiret One', sans-serif; 
        font-size: 2rem;
        font-weight: 100;
        margin: 1rem 0 1rem 1rem;
        color: #663300
}

h2 {
    font-family: 'Poiret One', sans-serif; 
    color: #93b440;
    text-align: center; 
    font-size: 4rem;
    font-weight: 100;
    margin: 1rem;
}

.class_home {
    display: flex;
    margin: 2rem;
    align-items: center;
}

.textbook {
    align-self: center;
    border-right: solid 1px #663300;
    padding: 0 2rem;
    flex: 1 1 0;
}

.assignments {
    padding: 0 2rem;
    flex: 3 3 0;
    border-right: solid 1px #663300;
}

h3 {
    text-align: center;
    font-family: "Poiret One", sans-serif;
}

.sidebar {
    background-color: rgba(255, 255, 255, 0.5);
    flex: 0 0 auto;
    width: 12rem;
    height: 25rem;
    padding: 0 6rem 0 2rem;
}